*.iml
*.ipr
*.iws
.DS_Store
.classpath
.externalNativeBuild
.gradle
.idea/
.project
.settings
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
bin/
classes/
drishti-app/tmp/
gen/
jacoco.exec
local.properties
opensrp-giz-malawi/fabric.properties
opensrp-giz-malawi/jacoco.exec
opensrp-giz-malawi/reports/
out/
project.properties
target/
tmp/
opensrp-giz-malawi/debug/
opensrp-giz-malawi/preview/
